@import url(https://fonts.googleapis.com/css?family=Noto+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,300,700);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url(https://fonts.googleapis.com/css?family=Lora:400,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300,700);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);















body,
input,
textarea,
.mbr-company .list-group-text {
  font-family: 'Raleway', sans-serif;
}
.mbr-footer-content li,
.mbr-footer .mbr-contacts li {
  font-family: 'Raleway', sans-serif;
}
.btn,
.alert,
h1,
h2,
h3,
h4,
h5,
h6,
.h1,
.h2,
.h3,
.h4,
.h5,
.h6,
.display-1,
.display-2,
.display-3,
.display-4,
.mbr-figure .mbr-figure-caption,
.mbr-gallery-title,
.mbr-map [data-state-details],
.mbr-price {
  font-family: 'Montserrat', sans-serif;
}
.mbr-footer-content h1,
.mbr-footer .mbr-contacts h1,
.mbr-footer-content h2,
.mbr-footer .mbr-contacts h2,
.mbr-footer-content h3,
.mbr-footer .mbr-contacts h3,
.mbr-footer-content h4,
.mbr-footer .mbr-contacts h4,
.mbr-footer-content p strong,
.mbr-footer .mbr-contacts p strong,
.mbr-footer-content strong,
.mbr-footer .mbr-contacts strong {
  font-family: 'Montserrat', sans-serif;
}
.btn-sm,
.lead a,
.lead blockquote,
.mbr-section-subtitle,
.mbr-section-hero .mbr-section-lead,
.mbr-cards .card-subtitle,
.mbr-testimonial .card-block {
  font-family: 'Lora', serif;
}
.mbr-author-name {
  font-family: 'Montserrat', sans-serif;
}
.mbr-author-desc {
  font-family: 'Lora', serif;
}
.mbr-plan-title {
  font-family: 'Montserrat', sans-serif;
}
.mbr-plan-subtitle,
.mbr-plan-price-desc {
  font-family: 'Lora', serif;
}
.bg-primary {
  background-color: #f78411 !important;
}
.bg-success {
  background-color: #c1c1c1 !important;
}
.bg-info {
  background-color: #00cdb9 !important;
}
.bg-warning {
  background-color: #f3c649 !important;
}
.bg-danger {
  background-color: #2969b0 !important;
}
.btn-primary {
  background-color: #f78411;
  border-color: #f78411;
  color: #ffffff;
}
.btn-primary:hover,
.btn-primary:focus,
.btn-primary.focus,
.btn-primary:active,
.btn-primary.active {
  color: #ffffff;
  background-color: #b55e06;
  border-color: #b55e06;
}
.btn-primary.disabled,
.btn-primary:disabled {
  color: #ffffff !important;
  background-color: #b55e06 !important;
  border-color: #b55e06 !important;
}
.btn-secondary {
  background-color: #ffffff;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary:hover,
.btn-secondary:focus,
.btn-secondary.focus,
.btn-secondary:active,
.btn-secondary.active {
  color: #ffffff;
  background-color: #d4d4d4;
  border-color: #d4d4d4;
}
.btn-secondary.disabled,
.btn-secondary:disabled {
  color: #ffffff !important;
  background-color: #d4d4d4 !important;
  border-color: #d4d4d4 !important;
}
.btn-info {
  background-color: #00cdb9;
  border-color: #00cdb9;
  color: #ffffff;
}
.btn-info:hover,
.btn-info:focus,
.btn-info.focus,
.btn-info:active,
.btn-info.active {
  color: #ffffff;
  background-color: #008174;
  border-color: #008174;
}
.btn-info.disabled,
.btn-info:disabled {
  color: #ffffff !important;
  background-color: #008174 !important;
  border-color: #008174 !important;
}
.btn-success {
  background-color: #c1c1c1;
  border-color: #c1c1c1;
  color: #ffffff;
}
.btn-success:hover,
.btn-success:focus,
.btn-success.focus,
.btn-success:active,
.btn-success.active {
  color: #ffffff;
  background-color: #9b9b9b;
  border-color: #9b9b9b;
}
.btn-success.disabled,
.btn-success:disabled {
  color: #ffffff !important;
  background-color: #9b9b9b !important;
  border-color: #9b9b9b !important;
}
.btn-warning {
  background-color: #f3c649;
  border-color: #f3c649;
  color: #ffffff;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning.focus,
.btn-warning:active,
.btn-warning.active {
  color: #ffffff;
  background-color: #e1a90f;
  border-color: #e1a90f;
}
.btn-warning.disabled,
.btn-warning:disabled {
  color: #ffffff !important;
  background-color: #e1a90f !important;
  border-color: #e1a90f !important;
}
.btn-danger {
  background-color: #2969b0;
  border-color: #2969b0;
  color: #ffffff;
}
.btn-danger:hover,
.btn-danger:focus,
.btn-danger.focus,
.btn-danger:active,
.btn-danger.active {
  color: #ffffff;
  background-color: #1b4472;
  border-color: #1b4472;
}
.btn-danger.disabled,
.btn-danger:disabled {
  color: #ffffff !important;
  background-color: #1b4472 !important;
  border-color: #1b4472 !important;
}
.btn-primary-outline {
  background: none;
  border-color: #9d5105;
  color: #9d5105;
}
.btn-primary-outline:hover,
.btn-primary-outline:focus,
.btn-primary-outline.focus,
.btn-primary-outline:active,
.btn-primary-outline.active {
  color: #ffffff;
  background-color: #f78411;
  border-color: #f78411;
}
.btn-primary-outline.disabled,
.btn-primary-outline:disabled {
  color: #ffffff !important;
  background-color: #f78411 !important;
  border-color: #f78411 !important;
}
.btn-secondary-outline {
  background: none;
  border-color: #ffffff;
  color: #ffffff;
}
.btn-secondary-outline:hover,
.btn-secondary-outline:focus,
.btn-secondary-outline.focus,
.btn-secondary-outline:active,
.btn-secondary-outline.active {
  color: #ffffff;
  background-color: #ffffff;
  border-color: #ffffff;
}
.btn-secondary-outline.disabled,
.btn-secondary-outline:disabled {
  color: #ffffff !important;
  background-color: #ffffff !important;
  border-color: #ffffff !important;
}
.btn-info-outline {
  background: none;
  border-color: #00675d;
  color: #00675d;
}
.btn-info-outline:hover,
.btn-info-outline:focus,
.btn-info-outline.focus,
.btn-info-outline:active,
.btn-info-outline.active {
  color: #ffffff;
  background-color: #00cdb9;
  border-color: #00cdb9;
}
.btn-info-outline.disabled,
.btn-info-outline:disabled {
  color: #ffffff !important;
  background-color: #00cdb9 !important;
  border-color: #00cdb9 !important;
}
.btn-success-outline {
  background: none;
  border-color: #8e8e8e;
  color: #8e8e8e;
}
.btn-success-outline:hover,
.btn-success-outline:focus,
.btn-success-outline.focus,
.btn-success-outline:active,
.btn-success-outline.active {
  color: #ffffff;
  background-color: #c1c1c1;
  border-color: #c1c1c1;
}
.btn-success-outline.disabled,
.btn-success-outline:disabled {
  color: #ffffff !important;
  background-color: #c1c1c1 !important;
  border-color: #c1c1c1 !important;
}
.btn-warning-outline {
  background: none;
  border-color: #c9970d;
  color: #c9970d;
}
.btn-warning-outline:hover,
.btn-warning-outline:focus,
.btn-warning-outline.focus,
.btn-warning-outline:active,
.btn-warning-outline.active {
  color: #ffffff;
  background-color: #f3c649;
  border-color: #f3c649;
}
.btn-warning-outline.disabled,
.btn-warning-outline:disabled {
  color: #ffffff !important;
  background-color: #f3c649 !important;
  border-color: #f3c649 !important;
}
.btn-danger-outline {
  background: none;
  border-color: #16385d;
  color: #16385d;
}
.btn-danger-outline:hover,
.btn-danger-outline:focus,
.btn-danger-outline.focus,
.btn-danger-outline:active,
.btn-danger-outline.active {
  color: #ffffff;
  background-color: #2969b0;
  border-color: #2969b0;
}
.btn-danger-outline.disabled,
.btn-danger-outline:disabled {
  color: #ffffff !important;
  background-color: #2969b0 !important;
  border-color: #2969b0 !important;
}
.text-primary {
  color: #f78411 !important;
}
.text-success {
  color: #c1c1c1 !important;
}
.text-info {
  color: #00cdb9 !important;
}
.text-warning {
  color: #f3c649 !important;
}
.text-danger {
  color: #2969b0 !important;
}
.alert-success {
  background-color: #c1c1c1;
}
.alert-info {
  background-color: #00cdb9;
}
.alert-warning {
  background-color: #f3c649;
}
.alert-danger {
  background-color: #2969b0;
}
.btn-social {
  border-color: #f78411;
}
.btn-social:hover {
  background: #f78411;
}
.mbr-company .list-group-item.active .list-group-text {
  color: #f78411;
}
.mbr-footer p a,
.mbr-footer ul a {
  color: #f78411;
}
.mbr-footer-content li::before,
.mbr-footer .mbr-contacts li::before {
  background: #f78411;
}
.mbr-footer-content li a:hover,
.mbr-footer .mbr-contacts li a:hover {
  color: #f78411;
}
.lead a,
.lead a:hover {
  color: #f78411;
}
.lead blockquote {
  border-color: #f78411;
}
.mbr-plan-header.bg-primary .mbr-plan-subtitle,
.mbr-plan-header.bg-primary .mbr-plan-price-desc {
  color: #feead6;
}
.mbr-plan-header.bg-success .mbr-plan-subtitle,
.mbr-plan-header.bg-success .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-info .mbr-plan-subtitle,
.mbr-plan-header.bg-info .mbr-plan-price-desc {
  color: #9afff5;
}
.mbr-plan-header.bg-warning .mbr-plan-subtitle,
.mbr-plan-header.bg-warning .mbr-plan-price-desc {
  color: #ffffff;
}
.mbr-plan-header.bg-danger .mbr-plan-subtitle,
.mbr-plan-header.bg-danger .mbr-plan-price-desc {
  color: #79aae0;
}
.mbr-small-footer a,
.mbr-gallery-filter li:hover {
  color: #f78411;
}
.form-control {
  padding: 0.9rem;
}
.align-center {
  text-align: center;
}
.col,
.col-12,
.col-auto {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.col-auto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: none;
}
form a.btn {
  margin: 0;
}
.mx-auto {
  margin: 0 auto;
}
section.custom-form .container,
section.form .container {
  display: flex;
}
.form-row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}
.extCountdown1 .number,
.extCountdown2 .number {
  font-family: 'Montserrat', sans-serif;
}
.extCountdown1 .period,
.extCountdown2 .period {
  font-family: 'Lora', serif;
}
.extCountdown1 .dot,
.extCountdown2 .dot {
  font-family: 'Montserrat', sans-serif;
}
.features6 .feature-subtitle {
  font-family: 'Lora', serif;
}
.features6 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.features6 .description {
  font-family: 'Raleway', sans-serif;
}
.count,
.counter-title {
  font-family: 'Montserrat', sans-serif;
}
.counter-subtitle {
  font-family: 'Lora', serif;
}
.mbr-iconfont-counters1 {
  color: #f78411;
}
.extHeader1 .container h3,
.extHeader2 .container h3,
.extHeader3 .container h3,
.extHeader5 .container h3,
.extHeader6 .container h3,
.extHeader7 .container h3,
.extHeader8 .container h3,
.extHeader9 .container h3,
.extHeader10 .container h3,
.extHeader12 .container h3,
.extHeader13 .container h3,
.extFeatures10 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader1 .container p,
.extHeader2 .container p,
.extHeader3 .container p,
.extHeader5 .container p,
.extHeader6 .container p,
.extHeader7 .container p,
.extHeader8 .container p,
.extHeader9 .container p,
.extHeader10 .container p,
.extHeader12 .container p,
.extHeader13 .container p,
.extFeatures10 .container p {
  font-family: 'Lora', serif;
}
.extHeader5 .container label {
  font-family: 'Lora', serif;
}
.extHeader9 form p.form-subtitle {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p.element {
  font-family: 'Montserrat', sans-serif;
}
.extHeader11 .container p {
  font-family: 'Lora', serif;
}
.extHeader12 h4,
.extFeatures10 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader12 .subtitle,
.extFeatures10 .subtitle {
  font-family: 'Lora', serif;
}
.extHeader13 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .number {
  font-family: 'Montserrat', sans-serif;
}
.extHeader13 .period {
  font-family: 'Lora', serif;
}
.extHeader13 .dot {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures .feature-subtitle {
  font-family: 'Lora', serif;
}
.extFeatures .feature-text {
  font-family: 'Raleway', sans-serif;
}
.extFeatures2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures3 .border-wrap {
  border-color: #f78411;
}
.extFeatures4 h4,
.extFeatures6 h4,
.extFeatures5 .card-title h4 {
  font-family: 'Montserrat', sans-serif;
}
.extFeatures4 h5,
.extFeatures6 h5,
.extFeatures5 .card-title h5 {
  font-family: 'Lora', serif;
}
.extForm1 h4,
.extForm2 h4,
.extForm3 h4,
.extForm4 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extForm1 .subtitle,
.extForm2 .subtitle,
.extForm3 .subtitle,
.extForm4 .subtitle {
  font-family: 'Lora', serif;
}
.extForm2 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extForm2 .container p {
  font-family: 'Lora', serif;
}
.extPricingTable1 .bottom_line {
  border-bottom-color: #f78411;
}
.extPricingTable1 .mbr-price small {
  font-family: 'Lora', serif;
}
.extPricingTable1 .mbr-plan-label {
  background: #f78411;
}
.extCounters2 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extCounters2 h5 {
  font-family: 'Lora', serif;
}
.extCounters3 .count {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-title {
  font-family: 'Montserrat', sans-serif;
}
.extCounters3 .counter-subtitle {
  font-family: 'Lora', serif;
}
.extProgressBar .progress-primary[value]::-webkit-progress-value {
  background-color: #f78411;
}
.extProgressBar .progress-primary[value]::-moz-progress-bar {
  background-color: #f78411;
}
@media screen and (min-width: 0\0) {
  .extProgressBar .progress-primary .progress-bar {
    background-color: #f78411;
  }
}
.extProgressBar .title-wrap {
  font-family: 'Lora', serif;
}
.extProgressBarRound .progress-radial .overlay {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-title {
  font-family: 'Montserrat', sans-serif;
}
.extProgressBar4 .feature-subtitle {
  font-family: 'Lora', serif;
}
.extTabs1 ul.nav-tabs li a:hover,
.extTabs2 ul.nav-tabs li a:hover {
  color: #f78411;
}
.extAccordion1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extAccordion1 .pseudoPlus,
.extAccordion2 .pseudoPlus,
.extToggle1 .pseudoPlus,
.extAccordion1 .pseudoPlus:after,
.extAccordion2 .pseudoPlus:after,
.extToggle1 .pseudoPlus:after,
.extAccordion1 .pseudoMinus,
.extAccordion2 .pseudoMinus,
.extToggle1 .pseudoMinus {
  background-color: #f78411;
}
.extAccordion2 .panel-heading a,
.extAccordion3 .panel-heading a,
.extToggle1 .panel-heading a {
  font-family: 'Raleway', sans-serif;
}
.extProgressBar5 .progress-primary[value]::-webkit-progress-value {
  background-color: #f78411;
}
.extProgressBar5 .progress-primary[value]::-moz-progress-bar {
  background-color: #f78411;
}
@media screen and (min-width: 0\0) {
  .extProgressBar5 .progress-primary .progress-bar {
    background-color: #f78411;
  }
}
.extProgressBar5 .title-wrap {
  font-family: 'Lora', serif;
}
.extMsg-box1 .container h3 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .container p {
  font-family: 'Lora', serif;
}
.extMsg-box1 h4 {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box1 .subtitle {
  font-family: 'Lora', serif;
}
.extMsg-box2 .container span,
.extMsg-box3 .container span,
.extMsg-box4 .container span {
  font-family: 'Montserrat', sans-serif;
}
.extMsg-box2 .container p,
.extMsg-box3 .container p,
.extMsg-box4 .container p {
  font-family: 'Lora', serif;
}
.extProgressBarRound .pie_progress__number {
  font-family: 'Montserrat', sans-serif;
}
.extMenu1 span.icon a:hover {
  color: #f78411 !important;
}
.extProgressBar .progress-primary[value]::-ms-fill {
  color: #f78411;
}
.extProgressBar5 .progress-primary[value]::-ms-fill {
  color: #f78411;
}
.theme-border {
  border: 1px solid #f78411;
}
#ext_menu-6d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6d .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-6d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6d .close-icon::before,
#ext_menu-6d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6d .link,
#ext_menu-6d .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-6d .link {
  font-size: 1rem;
}
#ext_menu-6d .dropdown-item,
#ext_menu-6d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-6d .link:hover,
#ext_menu-6d .dropdown-item:hover,
#ext_menu-6d .link:focus,
#ext_menu-6d .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-6d .link[aria-expanded="true"],
#ext_menu-6d .dropdown-menu {
  background: #080808;
}
#ext_menu-6d .nav-dropdown-sm .link:focus,
#ext_menu-6d .nav-dropdown-sm .link:hover,
#ext_menu-6d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6d .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-6d .navbar,
#ext_menu-6d .nav-dropdown-sm,
#ext_menu-6d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6d .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-6d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6d .bg-color.transparent.opened .link:hover,
#ext_menu-6d .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-6d .link[aria-expanded="true"],
#ext_menu-6d .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-6d A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#extSlider1-79 H2 {
  text-align: left;
  font-size: 60px;
}
#extFeatures10-5z .etl-icon {
  color: #333333;
}
#extFeatures10-5z P {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 18px;
}
#extFeatures10-5z .mbr-section-subtitle {
  color: #ffffff;
}
#extFeatures10-5z .mbr-section-title SPAN {
  color: #ffffff;
}
#extFeatures10-5z H4 {
  color: #ffffff;
}
#header3-7d .mbr-section-title,
#header3-7d .mbr-section-subtitle {
  text-align: center;
}
#header3-7d .mbr-section-subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #f78411;
  font-size: 72px;
}
#header3-7d .mbr-section-title {
  font-size: 48px;
  color: #f78411;
  font-family: 'Open Sans Condensed', sans-serif;
}
#header3-7d .mbr-section-title SPAN {
  color: #8b8b8b;
}
#extTestimonials5-7g .mbr-section-title SPAN {
  font-family: 'Open Sans Condensed', sans-serif;
}
#extTestimonials5-7g .mbr-section-title {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f78411;
}
#extTestimonials5-7g .mbr-section-subtitle SPAN {
  color: #c1c1c1;
}
#msg-box8-66 .mbr-section-title,
#msg-box8-66 p {
  color: #fff;
}
#msg-box8-66 .mbr-section-title {
  font-size: 60px;
  color: #f78411;
}
#msg-box8-66 .mbr-section-title SPAN {
  color: #f78411;
}
#msg-box5-3h H3 {
  color: #151515;
  font-size: 36px;
}
#msg-box5-3h P {
  color: #efefef;
  font-family: 'Lora', serif;
}
#msg-box5-3h SPAN {
  color: #ffffff;
}
#instagram-feed-block-6b .inst__title {
  text-align: center;
  font-family: 'Open Sans Condensed', sans-serif;
  color: #f78411;
}
#instagram-feed-block-6b .inst__title SPAN {
  color: #8b8b8b;
}
#header3-38 .mbr-section-title,
#header3-38 .mbr-section-subtitle {
  text-align: center;
}
#header3-38 .mbr-section-subtitle {
  font-family: 'Montserrat', sans-serif;
  color: #f78411;
  font-size: 72px;
}
#header3-38 .mbr-section-title {
  font-size: 48px;
  color: #f78411;
  font-family: 'Open Sans Condensed', sans-serif;
}
#header3-38 .mbr-section-title SPAN {
  color: #8b8b8b;
}
#contacts1-c P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-c STRONG {
  color: #f9f9f9;
}
#contacts1-c B {
  color: #f9f9f9;
}
#social-buttons4-d .mbr-section-title,
#social-buttons4-d .btn-social {
  color: #fff;
}
#social-buttons4-d .mbr-section-title {
  font-size: 8px;
}
#footer1-74 P {
  color: #ffffff;
}
#footer1-74 B {
  color: #000000;
}
.cid-rtRQq3H3f4.popup-builder {
  background-color: #ffffff;
}
.cid-rtRQq3H3f4.popup-builder .modal {
  position: relative;
  display: block;
  z-index: 1;
}
.cid-rtRQq3H3f4.popup-builder .modal-dialog {
  margin-top: 60px;
  margin-bottom: 60px;
}
.cid-rtRQq3H3f4 .modal-content,
.cid-rtRQq3H3f4 .modal-dialog {
  height: auto;
}
.cid-rtRQq3H3f4 .form-wrapper .input-group-btn {
  margin-right: auto;
  margin-left: auto;
}
.cid-rtRQq3H3f4 .form-wrapper .input-group-btn .btn {
  margin: 0 !important;
}
@media (min-width: 769px) {
  .cid-rtRQq3H3f4 .form-wrapper .mbr-form .form-group,
  .cid-rtRQq3H3f4 .form-wrapper .mbr-form .input-group-btn {
    padding: 0 .5rem;
  }
}
.cid-rtRQq3H3f4 .card-img {
  width: 100%;
  margin: auto;
  border-radius: 0;
}
.cid-rtRQq3H3f4 .mbr-figure img {
  display: block;
  width: 100%;
  -ms-flex-item-align: center;
  -ms-grid-row-align: center;
  -webkit-align-self: center;
  align-self: center;
}
.cid-rtRQq3H3f4 .mbr-text {
  text-align: center;
}
.cid-rtRQq3H3f4 .pt-0 {
  padding-top: 0 !important;
}
.cid-rtRQq3H3f4 .pb-0 {
  padding-bottom: 0 !important;
}
.cid-rtRQq3H3f4 .form-content {
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
}
.cid-rtRQq3H3f4 .mbr-overlay {
  bottom: 0;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 0;
  pointer-events: none;
}
.cid-rtRQq3H3f4 .modal-open {
  overflow: hidden;
}
.cid-rtRQq3H3f4 .modal-open .modal {
  overflow-x: hidden;
  overflow-y: auto;
}
.cid-rtRQq3H3f4 .modal {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1050;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: 0;
}
.cid-rtRQq3H3f4 .modal-dialog {
  position: relative;
  width: auto;
  margin: .5rem;
  pointer-events: none;
}
.cid-rtRQq3H3f4 .modal.fade .modal-dialog {
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  -webkit-transform: translate(0, -50px);
  transform: translate(0, -50px);
}
.cid-rtRQq3H3f4 .modal.show .modal-dialog {
  -webkit-transform: none;
  transform: none;
}
.cid-rtRQq3H3f4 .modal-dialog-centered {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  min-height: calc(100% - (.5rem * 2));
}
.cid-rtRQq3H3f4 .modal-dialog-centered::before {
  display: block;
  height: calc(100vh - (.5rem * 2));
  content: "";
}
.cid-rtRQq3H3f4 .modal-content {
  background: #ffffff;
  position: relative;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-clip: padding-box;
  border: none;
  outline: 0;
  -webkit-box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 10px 40px 0 rgba(0, 0, 0, 0.2);
}
.cid-rtRQq3H3f4 .modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1040;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}
.cid-rtRQq3H3f4 .modal-backdrop.fade {
  opacity: 0;
}
.cid-rtRQq3H3f4 .modal-backdrop.show {
  opacity: .5;
}
.cid-rtRQq3H3f4 .modal-header {
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem;
  border-bottom: none;
}
.cid-rtRQq3H3f4 .modal-header .close {
  position: absolute;
  top: auto;
  right: 1rem;
  margin: -1rem -1rem -1rem auto;
  padding: 1rem;
  opacity: .75;
}
.cid-rtRQq3H3f4 .modal-header .close:hover {
  opacity: 1;
}
.cid-rtRQq3H3f4 .modal-header .close:focus {
  outline: none;
}
.cid-rtRQq3H3f4 .modal-title {
  line-height: 1.5;
  width: 100%;
  margin: 0;
  text-align: center;
}
.cid-rtRQq3H3f4 .modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 1rem;
  min-height: 100%;
}
.cid-rtRQq3H3f4 .modal-footer {
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 1rem;
  border-top: none;
  text-align: center;
}
.cid-rtRQq3H3f4 .modal-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}
@media (min-width: 576px) {
  .cid-rtRQq3H3f4 .modal-dialog {
    max-width: 500px;
    margin: 1.75rem auto;
  }
  .cid-rtRQq3H3f4 .modal-dialog-centered {
    min-height: calc(100% - (1.75rem * 2));
  }
  .cid-rtRQq3H3f4 .modal-dialog-centered::before {
    height: calc(100vh - (1.75rem * 2));
  }
  .cid-rtRQq3H3f4 .modal-sm {
    max-width: 300px;
  }
  .cid-rtRQq3H3f4 .container {
    max-width: 540px;
  }
}
@media (min-width: 992px) {
  .cid-rtRQq3H3f4 .modal-lg,
  .cid-rtRQq3H3f4 .modal-xl {
    max-width: 800px;
  }
  .cid-rtRQq3H3f4 .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .cid-rtRQq3H3f4 .modal-xl {
    max-width: 1140px;
  }
  .cid-rtRQq3H3f4 .container {
    max-width: 1140px;
  }
}
.cid-rtRQq3H3f4 .container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}
@media (min-width: 768px) {
  .cid-rtRQq3H3f4 .container {
    max-width: 720px;
  }
}
.cid-rtRQq3H3f4 .row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.cid-rtRQq3H3f4 .col-md-4 {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 33.333333%;
  flex: 0 0 33.333333%;
  max-width: 33.333333%;
}
.cid-rtRQq3H3f4 .form-group {
  margin-bottom: 1rem;
}
.cid-rtRQq3H3f4 .form-control {
  display: block;
  width: 100%;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
}
.cid-rtRQq3H3f4 .col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}
.cid-rtRQq3H3f4 .col-md-auto {
  position: relative;
  padding-right: 15px;
  padding-left: 15px;
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.cid-rtRQq3H3f4 .btn-primary {
  font-size: 1rem;
}















#ext_menu-3f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3f .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-3f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3f .close-icon::before,
#ext_menu-3f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3f .link,
#ext_menu-3f .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3f .link {
  font-size: 1rem;
}
#ext_menu-3f .dropdown-item,
#ext_menu-3f .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3f .link:hover,
#ext_menu-3f .dropdown-item:hover,
#ext_menu-3f .link:focus,
#ext_menu-3f .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-3f .link[aria-expanded="true"],
#ext_menu-3f .dropdown-menu {
  background: #080808;
}
#ext_menu-3f .nav-dropdown-sm .link:focus,
#ext_menu-3f .nav-dropdown-sm .link:hover,
#ext_menu-3f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3f .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-3f .navbar,
#ext_menu-3f .nav-dropdown-sm,
#ext_menu-3f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3f .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-3f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3f .bg-color.transparent.opened .link:hover,
#ext_menu-3f .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-3f .link[aria-expanded="true"],
#ext_menu-3f .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-3f A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box8-o .mbr-section-title,
#msg-box8-o p {
  color: #fff;
}
#msg-box8-o .mbr-section-title {
  font-size: 46px;
}
#content2-p SPAN {
  color: #151515;
}
#content1-q P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-r SPAN {
  color: #151515;
}
#content1-s P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-t SPAN {
  color: #151515;
}
#content1-u P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-v SPAN {
  color: #151515;
}
#content1-w P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-x SPAN {
  color: #151515;
}
#content2-x DIV {
  text-align: left;
}
#content1-y P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-z SPAN {
  color: #151515;
}
#content1-10 P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-11 SPAN {
  color: #151515;
}
#content1-12 P {
  font-family: 'PT Sans', sans-serif;
  color: #151515;
}
#content2-13 SPAN {
  color: #151515;
}
#content1-14 P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
  text-align: left;
}
#content2-15 SPAN {
  color: #151515;
}
#content1-16 P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-17 SPAN {
  color: #151515;
}
#content1-18 P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#content2-19 BLOCKQUOTE {
  color: #8e6526;
}
#content2-19 B {
  color: #553982;
}
#content2-19 SPAN {
  color: #151515;
}
#content1-1a P {
  color: #606060;
  font-family: 'PT Sans', sans-serif;
}
#content1-1b P {
  color: #151515;
  font-family: 'PT Sans', sans-serif;
}
#contacts1-m P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-m STRONG {
  color: #f9f9f9;
}
#contacts1-m B {
  color: #f9f9f9;
}
#social-buttons4-43 .mbr-section-title,
#social-buttons4-43 .btn-social {
  color: #fff;
}
#social-buttons4-43 .mbr-section-title {
  font-size: 8px;
}
#footer1-n P {
  color: #ffffff;
}
#footer1-n B {
  color: #000000;
}




#ext_menu-3f .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-3f .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-3f .navbar-toggler {
  color: #ffffff;
}
#ext_menu-3f .close-icon::before,
#ext_menu-3f .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-3f .link,
#ext_menu-3f .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-3f .link {
  font-size: 1rem;
}
#ext_menu-3f .dropdown-item,
#ext_menu-3f .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-3f .link:hover,
#ext_menu-3f .dropdown-item:hover,
#ext_menu-3f .link:focus,
#ext_menu-3f .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-3f .link[aria-expanded="true"],
#ext_menu-3f .dropdown-menu {
  background: #080808;
}
#ext_menu-3f .nav-dropdown-sm .link:focus,
#ext_menu-3f .nav-dropdown-sm .link:hover,
#ext_menu-3f .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-3f .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-3f .navbar,
#ext_menu-3f .nav-dropdown-sm,
#ext_menu-3f .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-3f .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-3f .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-3f .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-3f .bg-color.transparent.opened .link:hover,
#ext_menu-3f .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-3f .link[aria-expanded="true"],
#ext_menu-3f .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-3f A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box8-1d .mbr-section-title,
#msg-box8-1d p {
  color: #fff;
}
#msg-box8-1d .mbr-section-title {
  font-size: 46px;
}
#content2-1e SPAN {
  color: #151515;
}
#content1-1f P {
  font-family: 'PT Sans', sans-serif;
  color: #606060;
}
#contacts1-22 P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-22 STRONG {
  color: #f9f9f9;
}
#contacts1-22 B {
  color: #f9f9f9;
}
#social-buttons4-42 .mbr-section-title,
#social-buttons4-42 .btn-social {
  color: #fff;
}
#social-buttons4-42 .mbr-section-title {
  font-size: 8px;
}
#footer1-23 P {
  color: #ffffff;
}
#footer1-23 B {
  color: #000000;
}



#ext_menu-6d .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-6d .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-6d .navbar-toggler {
  color: #ffffff;
}
#ext_menu-6d .close-icon::before,
#ext_menu-6d .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-6d .link,
#ext_menu-6d .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-6d .link {
  font-size: 1rem;
}
#ext_menu-6d .dropdown-item,
#ext_menu-6d .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-6d .link:hover,
#ext_menu-6d .dropdown-item:hover,
#ext_menu-6d .link:focus,
#ext_menu-6d .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-6d .link[aria-expanded="true"],
#ext_menu-6d .dropdown-menu {
  background: #080808;
}
#ext_menu-6d .nav-dropdown-sm .link:focus,
#ext_menu-6d .nav-dropdown-sm .link:hover,
#ext_menu-6d .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-6d .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-6d .navbar,
#ext_menu-6d .nav-dropdown-sm,
#ext_menu-6d .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-6d .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-6d .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-6d .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-6d .bg-color.transparent.opened .link:hover,
#ext_menu-6d .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-6d .link[aria-expanded="true"],
#ext_menu-6d .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-6d A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box8-6e .mbr-section-title,
#msg-box8-6e p {
  color: #fff;
}
#msg-box8-6e .mbr-section-title {
  font-size: 60px;
  color: #ffffff;
}
#msg-box8-6e .lead {
  color: #2e2e2e;
}
#msg-box8-6e .lead P {
  font-size: 19px;
}
#extShop1-75 .galleryItem h4:hover {
  color: #f78411;
}
#extShop1-75 .mbr-gallery-filter ul li.active {
  color: #f78411;
}
#extShop1-75 .mbr-gallery-filter ul li:hover {
  color: #f78411;
}
#extShop1-75 .mbr-gallery-filter ul li:before {
  background: #f78411;
}
#extShop1-75 .min-toggle:hover,
#extShop1-75 .max-toggle:hover {
  background-color: #f78411;
}
#extShop1-75 .shop-title {
  font-family: Montserrat;
}
#extShop1-75 .categories-titles .mbr-gallery-filter ul li {
  font-family: Montserrat;
}
#extShop1-75 .max-input {
  font-family: Montserrat;
}
#extShop1-75 .min-input {
  font-family: Montserrat;
}
#extShop1-75 .item-title {
  font-family: Montserrat;
  font-size: 46px;
}
#extShop1-75 .item-subtitle {
  font-family: Lora;
}
#extShop1-75 .card-description {
  font-family: Raleway;
}
#extShop1-75 .shop-item-price {
  font-family: Montserrat;
}
#contacts1-72 P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-72 STRONG {
  color: #f9f9f9;
}
#contacts1-72 B {
  color: #f9f9f9;
}
#social-buttons4-73 .mbr-section-title,
#social-buttons4-73 .btn-social {
  color: #fff;
}
#social-buttons4-73 .mbr-section-title {
  font-size: 8px;
}
#footer1-74 P {
  color: #ffffff;
}
#footer1-74 B {
  color: #000000;
}



#ext_menu-7v .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-7v .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-7v .navbar-toggler {
  color: #ffffff;
}
#ext_menu-7v .close-icon::before,
#ext_menu-7v .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-7v .link,
#ext_menu-7v .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-7v .link {
  font-size: 1rem;
}
#ext_menu-7v .dropdown-item,
#ext_menu-7v .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-7v .link:hover,
#ext_menu-7v .dropdown-item:hover,
#ext_menu-7v .link:focus,
#ext_menu-7v .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-7v .link[aria-expanded="true"],
#ext_menu-7v .dropdown-menu {
  background: #080808;
}
#ext_menu-7v .nav-dropdown-sm .link:focus,
#ext_menu-7v .nav-dropdown-sm .link:hover,
#ext_menu-7v .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-7v .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-7v .navbar,
#ext_menu-7v .nav-dropdown-sm,
#ext_menu-7v .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-7v .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-7v .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-7v .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-7v .bg-color.transparent.opened .link:hover,
#ext_menu-7v .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-7v .link[aria-expanded="true"],
#ext_menu-7v .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-7v A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#header2-8j .btn {
  font-size: 20px;
}
#header2-8j .mbr-section-text {
  font-size: 18px;
}
#content5-7x .mbr-section-title,
#content5-7x p {
  color: #fff;
}
#content5-7x .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#testimonials3-7y .mbr-section-title {
  color: #efefef;
  font-size: 36px;
}
#testimonials3-7y .mbr-author-name {
  color: #ccc;
}
#buttons1-7z .btn {
  font-size: 20px;
}
#header3-80 .mbr-section-title,
#header3-80 .mbr-section-subtitle {
  text-align: center;
}
#header3-80 .mbr-section-subtitle {
  font-size: 20px;
}
#header3-80 .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#content5-81 .mbr-section-title,
#content5-81 p {
  color: #fff;
}
#content5-81 .mbr-section-title {
  color: #776b7c;
  font-size: 25px;
  text-align: center;
}
#content5-81 P {
  color: #232323;
  text-align: center;
  font-size: 18px;
}
#header3-84 .mbr-section-title,
#header3-84 .mbr-section-subtitle {
  text-align: center;
}
#header3-84 .mbr-section-title {
  font-size: 36px;
  color: #ffffff;
}
#extHeader17-8u H3 {
  font-size: 36px;
  color: #f78411;
}
#header2-8r .mbr-section-text {
  color: #391b74;
  font-size: 18px;
}
#header2-8r .mbr-section-title {
  color: #553982;
}
#header2-8r .mbr-section-title SPAN {
  font-size: 46px;
}
#extMsg-box3-8q .btn {
  font-size: 20px;
}
#header3-8a .mbr-section-title,
#header3-8a .mbr-section-subtitle {
  text-align: center;
}
#header3-8a .mbr-section-subtitle {
  font-size: 20px;
}
#header3-8a .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#content1-8c P {
  text-align: center;
}
#buttons1-8d .btn {
  font-size: 20px;
}
#content5-8e .mbr-section-title,
#content5-8e p {
  color: #fff;
}
#content5-8e .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#msg-box5-8f SPAN {
  color: #606060;
}
#contacts1-8g P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-8g STRONG {
  color: #f9f9f9;
}
#contacts1-8g B {
  color: #f9f9f9;
}
#social-buttons4-8h .mbr-section-title,
#social-buttons4-8h .btn-social {
  color: #fff;
}
#social-buttons4-8h .mbr-section-title {
  font-size: 8px;
}
#footer1-8i P {
  color: #ffffff;
}
#footer1-8i B {
  color: #000000;
}




#ext_menu-44 .hide-buttons .nav-btn {
  display: none !important;
}
#ext_menu-44 .navbar-caption {
  color: #ffffff;
  font-family: 'Noto Sans', sans-serif;
  font-size: 20px;
}
#ext_menu-44 .navbar-toggler {
  color: #ffffff;
}
#ext_menu-44 .close-icon::before,
#ext_menu-44 .close-icon::after {
  background-color: #ffffff;
}
#ext_menu-44 .link,
#ext_menu-44 .dropdown-item {
  color: #ffffff;
  font-family: 'Open Sans', sans-serif;
}
#ext_menu-44 .link {
  font-size: 1rem;
}
#ext_menu-44 .dropdown-item,
#ext_menu-44 .nav-dropdown-sm .link {
  font-size: 1.083rem;
}
#ext_menu-44 .link:hover,
#ext_menu-44 .dropdown-item:hover,
#ext_menu-44 .link:focus,
#ext_menu-44 .dropdown-item:focus {
  color: #f78411;
}
#ext_menu-44 .link[aria-expanded="true"],
#ext_menu-44 .dropdown-menu {
  background: #080808;
}
#ext_menu-44 .nav-dropdown-sm .link:focus,
#ext_menu-44 .nav-dropdown-sm .link:hover,
#ext_menu-44 .nav-dropdown-sm .dropdown-item:focus,
#ext_menu-44 .nav-dropdown-sm .dropdown-item:hover {
  background: #1a1a1a!important;
}
#ext_menu-44 .navbar,
#ext_menu-44 .nav-dropdown-sm,
#ext_menu-44 .nav-dropdown-sm .link[aria-expanded="true"],
#ext_menu-44 .nav-dropdown-sm .dropdown-menu {
  background: #222222;
}
#ext_menu-44 .bg-color.transparent .link {
  color: #ffffff;
  transition: none;
}
#ext_menu-44 .bg-color.transparent.opened .link {
  transition: color 0.2s ease-in-out;
}
#ext_menu-44 .bg-color.transparent.opened .link:hover,
#ext_menu-44 .bg-color.transparent.opened .link:focus {
  color: #f78411;
}
#ext_menu-44 .link[aria-expanded="true"],
#ext_menu-44 .dropdown-item[aria-expanded="true"] {
  color: #f78411!important;
}
#ext_menu-44 A {
  font-family: 'Yanone Kaffeesatz', sans-serif;
}
#msg-box4-59 P {
  text-align: center;
  color: #ffffff;
}
#msg-box4-59 H3 {
  text-align: center;
  color: #ffffff;
  font-size: 36px;
}
#msg-box4-59 .btn {
  font-size: 18px;
}
#msg-box4-59 SPAN {
  color: #ffffff;
}
#content5-4s .mbr-section-title,
#content5-4s p {
  color: #fff;
}
#content5-4s .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#testimonials3-4c .mbr-section-title {
  color: #efefef;
  font-size: 36px;
}
#testimonials3-4c .mbr-author-name {
  color: #ccc;
}
#buttons1-4p .btn {
  font-size: 20px;
}
#header3-4j .mbr-section-title,
#header3-4j .mbr-section-subtitle {
  text-align: center;
}
#header3-4j .mbr-section-subtitle {
  font-size: 20px;
}
#header3-4j .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#content5-4h .mbr-section-title,
#content5-4h p {
  color: #fff;
}
#content5-4h .mbr-section-title {
  color: #776b7c;
  font-size: 36px;
  text-align: center;
}
#content5-4h P {
  color: #232323;
  text-align: center;
  font-size: 18px;
}
#content5-4k .mbr-section-title,
#content5-4k p {
  color: #fff;
}
#content5-4k .mbr-section-title {
  text-align: center;
  color: #776b7c;
  font-size: 36px;
}
#content5-4k P {
  text-align: center;
  color: #232323;
  font-size: 18px;
}
#content5-4o .mbr-section-title,
#content5-4o p {
  color: #fff;
}
#content5-4o .mbr-section-title {
  color: #776b7c;
  font-size: 36px;
  text-align: center;
}
#content5-4o P {
  color: #232323;
  text-align: center;
  font-size: 18px;
}
#header3-4n .mbr-section-title,
#header3-4n .mbr-section-subtitle {
  text-align: center;
}
#header3-4n .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#features7-4m .card-subtitle {
  color: #bcbcbc;
}
#features7-4m .iconbox {
  background-color: #f78411;
  border-color: #f78411;
}
#features7-4m H4 {
  font-size: 23px;
  color: #606060;
}
#header3-5c .mbr-section-title,
#header3-5c .mbr-section-subtitle {
  text-align: center;
}
#header3-5c .mbr-section-subtitle {
  font-size: 20px;
}
#header3-5c .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#msg-box5-5a H3 {
  color: #606060;
  font-size: 36px;
}
#msg-box5-5a P {
  color: #232323;
}
#msg-box5-5a B {
  color: #553982;
}
#msg-box5-5e H3 {
  color: #606060;
  font-size: 36px;
}
#msg-box5-5e P {
  color: #232323;
}
#msg-box5-5e B {
  color: #553982;
}
#pricing-table1-4u .mbr-section__container .mbr-section-title {
  color: #fff;
  font-size: 36px;
}
#pricing-table1-4u .mbr-section__container .mbr-section-subtitle {
  color: #a0a0a0;
}
#pricing-table1-4u .mbr-plan-label {
  font-size: 15px;
}
#pricing-table1-4u .mbr-plan-price-desc {
  font-size: 18px;
  color: #efefef;
}
#pricing-table1-4u .mbr-plan-title {
  font-size: 30px;
}
#pricing-table1-4u UL {
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
}
#header3-4z .mbr-section-title,
#header3-4z .mbr-section-subtitle {
  text-align: center;
}
#header3-4z .mbr-section-subtitle {
  font-size: 20px;
}
#header3-4z .mbr-section-title {
  font-size: 36px;
  color: #606060;
}
#content1-57 P {
  text-align: center;
}
#buttons1-4t .btn {
  font-size: 25px;
}
#content5-5d .mbr-section-title,
#content5-5d p {
  color: #fff;
}
#content5-5d .mbr-section-title {
  text-align: center;
  font-size: 36px;
}
#msg-box5-4y SPAN {
  color: #606060;
}
#contacts1-45 P {
  font-size: 12px;
  color: #f9f9f9;
}
#contacts1-45 STRONG {
  color: #f9f9f9;
}
#contacts1-45 B {
  color: #f9f9f9;
}
#social-buttons4-5b .mbr-section-title,
#social-buttons4-5b .btn-social {
  color: #fff;
}
#social-buttons4-5b .mbr-section-title {
  font-size: 8px;
}
#footer1-46 P {
  color: #ffffff;
}
#footer1-46 B {
  color: #000000;
}
